In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/PF/Projects/dataquest_JBBR-main/Datasets/3_earthquake_clean_1995-2023.csv")

In [3]:
df.head()

,title,magnitude,cdi,mmi,alert,tsunami,sig,net,nst,dmin,...,magType,depth,latitude,longitude,location,continent,country,day,month,year
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,7,4,green,0,657,us,114,7.177000,...,mww,192.955,-13.88,167.16,"Sola, Vanuatu",Oceania,Vanuatu,16,8,2023
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,8,6,yellow,0,775,us,92,0.679000,...,mww,69.727,12.81,-88.13,"Intipucá, El Salvador",North America,El Salvador,19,7,2023
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,7,5,green,0,899,us,70,1.634000,...,mww,171.371,-38.19,-70.37,"Loncopué, Argentina",South America,Argentina,17,7,2023
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,6,6,green,1,860,us,173,0.907000,...,mww,32.571,54.38,-160.70,"Sand Point, Alaska",North America,United States,16,7,2023
4,M 7.3 - Alaska Peninsula,7.3,0,5,No alert,1,820,at,79,0.879451,...,Mi,21.000,54.49,-160.80,Alaska Peninsula,North America,United States,16,7,2023

In [5]:
df["mmi"].unique()

array([ 4,  6,  5,  2,  7,  3,  9,  8,  1, 10])

# Feature Engineering

In [6]:
df_model = df.drop(columns=["title"],axis=0)

In [8]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974 entries, 0 to 973
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  974 non-null    float64
 1   cdi        974 non-null    int64
 2   mmi        974 non-null    int64
 3   alert      974 non-null    object
 4   tsunami    974 non-null    int64
 5   sig        974 non-null    int64
 6   net        974 non-null    object
 7   nst        974 non-null    int64
 8   dmin       974 non-null    float64
 9   gap        974 non-null    float64
 10  magType    974 non-null    object
 11  depth      974 non-null    float64
 12  latitude   974 non-null    float64
 13  longitude  974 non-null    float64
 14  location   974 non-null    object
 15  continent  974 non-null    object
 16  country    974 non-null    object
 17  day        974 non-null    int64
 18  month      974 non-null    int64
 19  year       974 non-null    int64
dtypes: float64(6), int64(8), object(6)
memory usage: 152.3+ KB